*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

Body{
    background-color: rgb(21, 21, 21);
}

@keyframes fadeIn {
    from {transform: translateY(10%); opacity: 0;}
    to {transform: translateY(0); opacity: 1;}
}

.line{
    background-color: rgb(21, 21, 21);
    width: 100%;
    height: 85px;
    color: white;
    padding: 40px 0px;
}

.line-line{
    height: 3px;
    background-color: white;
}

.logo{
     width: 50px;
     margin-left: 10px;
}

/* Top Menu */

.menu-title{
    color: white;
    margin-left: 20px;
    font-weight bold;
    font-size: 40px;
    margin-bottom: 10px;
}

#menu-line{
    color: white;
    margin-left: 25px;
    font-size: 30px;
    margin-bottom: 10px;
}

.top-menu{
     margin-bottom: 5px;
     list-style: none;
     top: 10%;
}

.top-menu a{
     color: white;
     font-size: 20px;
     text-decoration: none;
     margin-left: 25px;
}

.menu{
    display: flex;
    background-color: rgb(21, 21, 21);
    align-items: center;
    padding: 10px;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

/*Header block with background image*/

.image-header{
    width: auto;
    background-color: rgb(39, 38, 38);
    background-image: url('assets/header-bg-2.1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 750px;
    padding-top: 20px;
    margin-top: 83px;
}

.header-content{
    animation: fadeIn 1s ease-in-out;
}

#header-logo-div{

    display: flex;
    justify-content: center;
}

#header-logo{
    width: 400px;
    height: 400px;
    position: relative;
    margin-top: 20px;

}

#header-title{
    color: white;
    font-size: 100px;

    width: 100%;
    text-align: center;
    font-weight: bold;
}

#header-slogan{
    color: white;
    font-size: 80px;

    width: 100%;
    text-align: center;
    font-weight: semibold;
}

.main-body{
    background-color: rgb(39, 38, 38);
    padding-top: 50px;
    padding-bottom: 50px;
}

/*Decorative lines*/

.body-line{
    width: 100%;
    padding: 25px 0px;
}

.body-line hr{
    width: 70%;
    margin-left: 15%;
    color: rgb(75, 75, 75)
}

.body-line2{
    width: 100%;
    padding: 25px 0px;
}

.body-line2 hr{
    width: 40%;
    margin-left: 30%;
    color: rgb(75, 75, 75)
}

/*About Section*/

.about{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

#about-image{
    margin-right: 25px;
}

#about-image img{
    width: 450px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

#about-text{
    color: white;
    width: 600px;
    margin-left: 50px;
    background-color: rgb(21, 21, 21);
    padding-top: 30px;
    padding-bottom: 35px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
}

#about-title{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-left: 10px;
}

#about-line{
    margin: 20px 0px;
}

#about-list ol{
    list-style-position: inside;
    list-style-type: disc;
    font-size: 40px;
}

#about-list li{
    padding-bottom: 10px;
}

/*Feature Block*/

#features{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    padding-left: 80px;
    margin: 50px 0;
    background-color: rgb(21, 21, 21);
    box-shadow: 10px 3px 3px 10px rgba(0, 0, 0, 0.4);
}

.feature-img img{
    width:500px;
}

.feature-text-block{
    color: white;
    font-size: 30px;
    font-weight: 500;
}

.feature-text-block ol{
    list-style: none;
    padding: 0 60px;
}

.feature-text-block li{
    padding: 20px 0;
}

.fa-check-circle{
    margin-right: 20px;
}



/*Sponsor block*/

.sponsors{
    margin-bottom: 0px;
}

.title{
    color: white;
    text-align: center;
    font-size: 75px;
    font-weight: 100;
    margin-bottom: 10px;
}

.img-row{
    margin-top: 4%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.sponsor-image{
    width: 450px;
    margin: 0 4%;
    position: relative;
}

#just-kidding{
    width: 100%;
    text-align: center;
    margin-top: 100px;
    color: rgba(255, 255, 255, 0.2);
    font-size: 20px;
}

/*Tools*/
.tools{
    margin-bottom: 5px;
}

#tool-row{
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.2);
}

#tool-row img{
    width: 700px;
    padding: 10px 80px;

}

/*Footer with github and download buttons*/

Footer{
    width: 100%;
    height: 150px;
    background-color: rgb(30, 30, 30);
}

#links{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#links button{
    background-color: rgb(21, 21, 21);
    color: white;
    border: 5px solid rgb(60, 60, 60);
    border-radius: 5px;
    padding: 10px 10px;
    width: 500px;
    font-size: 30px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    margin: 0px 100px;
    transform: scale(1);
    transition: background-color 0.3s ease-in-out, transform 0.3s ease;
    cursor: pointer;
}

#download{
    position: absolute;
    right: 40px;
    top: 12px;
    background-color: rgb(21, 21, 21);
    color: white;
    border: 5px solid rgb(60, 60, 60);
    border-radius: 5px;
    padding: 10px 10px;
    width: 275px;
    font-size: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    transform: scale(1);
    transition: background-color 0.3s ease-in-out, transform 0.3s ease;
    cursor: pointer;
}

#download:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
    background-color: rgb(30, 30, 30);
}

#links button:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
    background-color: rgb(30, 30, 30);
}

#links i{
    margin-left: 15px;
}

#madeby{
    text-align: center;
    color: rgb(100, 100, 100);
    letter-spacing: 5px;
}
